doctype html
head
  link(href='css/style.scss', rel='stylesheet')
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(language="JavaScript" src='js/script.js' type="text/javascript")  
  script(type="text/javascript" src="js/jquery.idTabs.min.js")
body
  div(id='content')
